<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>

<% 
String mensagem = "";
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>E-Comerce Cabeçalho</title>
</head>
<body>

	<section class="container">
         <div id="titulo">E-COMMERCE TEMPLATE</div>
	</section>
	<div class="container submenu">
		<nav class="nav-menu">
			<div class="menu-principal">
				<ul class="u-nav">
					<li class="u-nav-item"><a href="http://google.com.br" class="botao-menu">Pagina 1</a></li>
					<li class="u-nav-item"><a href="http://google.com.br" class="botao-menu">Pagina 2</a></li>
					<li class="u-nav-item"><a href="http://google.com.br" class="botao-menu">Pagina 3</a></li>
					<li class="u-nav-item"><a href="http://google.com.br" class="botao-menu">Pagina 4</a></li>
					<li class="u-nav-item"><a href="http://google.com.br" class="botao-menu">Pagina 5</a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<section class="container">
		<div id="mensagem">
				<%
				if (request.getAttribute("mensagem") != null) { 
					mensagem = (String) request.getAttribute("mensagem");
					response.getWriter();
					out.write("<p>" + mensagem + "</p>");						
				} %>
		</div>
    </section>
	

</body>
</html>